@model Notas.Models.EvaluacionModel

@{
    ViewBag.Title = "EditarInvestigacion";
}

<h2>Calificar examenes parciales</h2>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div class="shadow" style="padding: 25px; border-radius: 25px; background-color:white;">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        @using (Html.BeginForm("CalificarExamenes", "Evaluacion", new { carne = ViewBag.carne }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" id="examenes">
                        <label for="notasExamenes">Primer examen</label>
                        <input class="form-control" name="notas" type="number" min="0" max="100" /><br />
                    </div>
                    <div class="form-group" id="examenes">
                        <label for="notasExamenes">Segundo examen</label>
                        <input class="form-control" name="notas" type="number" min="0" max="100" /><br />
                    </div>
                    <input type="submit" value="Calificar" class="btn btn-primary" />
                </div>
            </div>
            <br />
        }
    </div>
    
</div>
<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
